* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Inter, serif;
}

body {
    background-color: #F5FBE6;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    padding: 2.5rem;
}

section {
    padding: 2rem 2rem 0 2rem;
}

article {
    padding: 1rem;
}

h2 {
    color: darkred;
}

h3 {
    color: darkgreen;
}

p {
    padding: 0.5rem;
    line-height: 1.4;
}

#eindreflectie {
    margin-bottom: 5rem;
}