* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #F5FBE6;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    padding: 2.5rem;
}

p {
    font-size: 1.2rem;
    padding: 0.8rem;
}