@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: cormorant, 'Syne Mono', inter, serif;
}

/* kleurpalet

gebroken wit: #F5FBE6
teal: #215E61
donker teal: #233D4D
oranje: #FE7F2D
grijs: #eeeeee

 */

:root {
    color: #233D4D;
}

.hidden {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5FBE6;

    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FE7F2D;
    cursor: pointer;
}

#top div {
    background-color: #F5FBE6;

}


#knik-link {
    text-decoration: underline;
    color: #FE7F2D;

}

#knik-link:hover {
    cursor: pointer;
    color: red;
}

header {
    position: relative;

    width: 100%;
    height: 100vh;

    background-image: linear-gradient(90deg, transparent, rgba(33, 94, 97, 0.7)),
    url('./assets/klimfoto1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    overflow: hidden;

}

h1 {
    font-family: 'Cormorant', inter, serif;
    font-size: 185px;
    padding-right: 25px;
    padding-top: 20px;
    text-align: end;

    color: #F5FBE6;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

h2 {
    font-family: 'Cormorant', inter, serif;
}

h3, h4 {
    font-family: 'Space Mono', 'Syne Mono', inter, serif;

}

section {
    position: relative;
}

#hoofdnavigatie-container .portfolio-link u {
    font-family: 'Space Mono', 'Syne Mono', inter, serif;
}

div.pagina-decoratie {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

div.pagina-lijn {
    border-left: 4px solid #233D4D;
    border-radius: 50%;
    height: 300px;
}

div.pagina-lijn-twee {
    border-left: 4px solid #233D4D;
    border-radius: 50%;
    height: 200px;
}

.header-decoratie {
    left: 0;
    top: 60%;
    transform: rotate(45deg);
}

.header-decoratie .pagina-lijn {
    border-left: 4px solid #F5FBE6;
}

.header-decoratie .pagina-lijn-twee {
    border-left: 4px solid #F5FBE6;
}

.wiebenik-decoratie {
    right: 0;
    top: 40%;
    transform: rotate(-45deg);
}

.projecten-decoratie {
    left: 0;
    top: 20%;
    transform: rotate(45deg);
}

.recreatie-decoratie {
    right: 0;
    top: 15%;
    transform: rotate(-45deg);
}

.footer-decoratie {
    left: 0;
    bottom: -60px;
    transform: rotate(45deg);
}

footer .pagina-lijn {
    border-left: 4px solid #F5FBE6;

}

footer .pagina-lijn-twee {
    border-left: 4px solid #F5FBE6;
}

#linker-balkje {
    border-radius: 0 40px 0 0;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 43px;
}

#rechter-balkje {
    border-radius: 40px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 19%;
    height: 43px;

}


#hoofdnavigatie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#hoofdnavigatie-container #linker-blok {
    width: 44%;
    height: 120px;
}

#hoofdnavigatie-container #rechter-blok {
    width: 19%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hoofdnavigatie {

    border-radius: 0 0 40px 40px;
    background-color: #215E61;
    color: #F5FBE6;

    width: 37%;
    height: 120px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#hoofdnavigatie a {
    font-family: 'Syne Mono', Inter, serif;

    width: 33.3333%;

    text-shadow: #233D4D 2px 2px 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hoofdnavigatie .navigatie-split-lijn {
    border-right: 3px #F5FBE6 solid;
    height: 35%;
    border-radius: 2px;
    box-shadow: #233D4D 2px 2px 2px;


}

h2 {
    font-size: 160px;
}

#wie-ben-ik h2 {
    padding: 100px 0 80px 120px;
}

#wie-ben-ik article {
    margin: 0 240px 0 200px;
}

#wie-ben-ik p {
    font-family: Space Mono, Cormorant, inter, serif;
    font-size: 20px;
    line-height: 1.6;
}


#projecten h2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 100px 120px 80px 0;
}

#projecten #projecten-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding: 60px 100px; /* More vertical space for shadow and scale */
    height: 500px; /* Adjust height accordingly */
    overflow-x: scroll;
    overflow-y: clip;


    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */


}

#projecten-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#projecten .project {
    position: relative;

    height: 100%;
    width: 60%;
    flex-shrink: 0;

    transform-origin: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 120px;

    overflow: hidden;


}

#projecten .project .titel-div {
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: #215E61;
    color: #F5FBE6;

    padding: 30px 70px 30px 42px;


    border-radius: 50px 0 0 0;


}

#projecten .project h3 {
    font-family: space mono, inter, serif;
    font-size: 20px;
}


#projecten .eerste-project {
    margin-left: 150px;
}

#projecten .laatste-project {
    margin-right: 150px;
}


#projecten .project img {
    height: 100%;
    width: 100%;
    border-radius: 120px;

}

#projecten .project:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#projecten .project-modal {
    z-index: 1001;
    border: 2px solid #233D4D;

    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


    border-radius: 40px;
    position: fixed;

    width: 60vw;
    height: 90vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-kruisje {
    position: absolute;
    top: 15px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    cursor: pointer;

    background-color: #233D4Daa;
    color: white;
    border-radius: 50%;
}

.project-modal .project-foto {
    border-radius: 40px;

    width: 100%;
    height: 65%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.project-modal .project-info {

    border-radius: 0 0 40px 40px;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    gap: 0;

}

.project-modal .project-info p {
}

.project-modal .project-info-links {


    border-radius: 0 0 0 40px;

    width: 60%;
    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;

    gap: 10px;
}

.project-modal .project-info-links .project-info-links-tweede-p {
    text-align: end;
}

.project-modal .project-info-links > div {
    width: 50%;
    position: relative;
}


.project-modal .project-info-links img {
    transition: transform 0.3s ease, z-index 0s;
    transform-origin: bottom left;

    cursor: zoom-in;
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px;
}

.project-modal .project-info-links img:hover {
    transform: scale(3.5);
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 50px #233D4D80;
}

.project-modal .project-info-links-eerste-foto {
    margin-bottom: 10px;
}

.project-modal .project-info-links-tweede-foto {
    margin-top: 10px;
}


.lijn {

    border-left: 2px solid #233D4D50;
    margin: 25px 0;
}

.project-modal .project-info-rechts {
    position: relative;
    border-radius: 0 0 40px 0;

    width: 40%;
    padding: 10px 15px;

}

.project-modal .project-info-rechts p.project-beschrijving {
    padding: 5px;
}

.project-modal .project-info-rechts .project-keywords-container {


    position: absolute;
    right: 25px;
    bottom: 22px;
}

.project-modal .project-info-rechts .project-keywords-container h4 {
    padding: 5px;
}


.project-modal .project-info-rechts .project-keywords {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.project-modal .project-info-rechts .project-keywords p {
    padding: 5px;
    border-radius: 8px;
    background-color: #215E61;
    color: #F5FBE6;
}


#recreatie h2 {
    padding: 100px 0 80px 120px;
}

#recreatie #recreatie-content-container {
    margin: 0 80px 0 80px;

    border-radius: 100px;
    overflow: hidden;
    height: 700px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#recreatie-content-links {
    height: 100%;
    width: 60%;

    margin-right: 5%;
}

#recreatie-content-links #recreatie-foto-links {
    width: 100%;
    height: 75%;

    background-image: url("./assets/klimfoto3.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;


}

#recreatie-content-links h3 {

    font-size: 40px;
    margin: 10px 15px;
}

#recreatie-content-links p {
    margin: 8px;
    text-align: end;
}


#recreatie-content-rechts {
    height: 100%;
    width: 35%;

    overflow-y: scroll;
    overscroll-behavior-y: contain;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

}

#recreatie-content-rechts::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#recreatie-content-rechts #recreatie-gitaar-scroller {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overscroll-behavior-x: contain;

    height: 280px;
}

#recreatie-gitaar-scroller video {
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
}


#recreatie-content-rechts img {
    width: 100%;

}

#recreatie-content-rechts h3 {
    font-size: 30px;
    margin: 8px 12px;

}

#recreatie-content-rechts p {
    margin: 8px 8px 16px 8px;
}


footer {
    width: 100%;

    position: relative;

    margin-top: 100px;

    overflow: hidden;
}

footer a u {
    font-family: 'Syne Mono', Inter, serif;
}

footer .terug-naar-boven {
    display: flex;
    justify-content: center;
    align-items: center;

    text-wrap: nowrap;

    width: 100%;
    margin-bottom: 20px;
}

footer #footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: 150px;

    background-color: #215E61;
    color: #F5FBE6;

    height: 300px;

}

