* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;}

header {
    width: 100%;
    height: 100vh;

    background-image: url('./assets/land-o-lakes-inc-o8gGuhfjB2M-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}




#hoofdnavigatie-container {
    position: relative;
}

#hoofdnavigatie-container .portfolio-link {
    position: absolute;
    right: 20px;
    top: 20px;
}

#linker-balkje {
    border: 2px solid red;

position: absolute;
    top: -43px;
    left: 0;
    width: 44%;
    height: 43px;
}

#hoofdnavigatie {
    border: 2px solid black;

    width: 37%;
    height: 120px;

    margin-left: 44%;
    margin-right: 19%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#hoofdnavigatie a {
    width: 33.3333%;

    display: flex;
    justify-content: center;
    align-items: center;
}


#rechter-balkje {
    border: 2px solid red;

    position: absolute;
    top: -43px;
    right: 0;

    width: 19%;
    height: 43px;

}