* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}

header {
    position: relative;

    width: 100%;
    height: 100vh;

    background-image: url('./assets/land-o-lakes-inc-o8gGuhfjB2M-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


#linker-balkje {
    background-color: white;
    border-radius: 0 40px 0 0;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 43px;
}

#rechter-balkje {
    background-color: white;
    border-radius: 40px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 19%;
    height: 43px;

}


#hoofdnavigatie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hoofdnavigatie-container #linker-blok {
    width: 44%;
    height: 120px;
}

#hoofdnavigatie-container #rechter-blok {
    width: 19%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hoofdnavigatie {
    background-color: darkcyan;
    border-radius: 0 0 40px 40px;

    width: 37%;
    height: 120px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#hoofdnavigatie a {
    width: 33.3333%;

    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 180px;
}

#wie-ben-ik h2 {
    padding: 100px 0 80px 120px;
}

#projecten h2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 100px 120px 80px 0;
}

#projecten #projecten-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    height: 450px;

}
#projecten-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#projecten .project {
    border: 3px solid black;
    height: 100%;
    width: 60%;
    flex-shrink: 0;


}
#projecten .eerste-project {
    margin-left: 150px;
}
#projecten .laatste-project {
    margin-right: 150px;
}


#projecten .project img {
    height: auto;
    width: 100%;
}



#recreatie h2 {
    padding: 100px 0 80px 120px;
}

#recreatie #recreatie-content-container {
    border: 2px solid black;
    margin: 0 80px 0 80px;

    height: 700px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#recreatie-content-links {
    border: 3px solid black;
    height: 100%;
    width: 60%;

    margin-right: 5%;
}

#recreatie-content-links img {
    width: 100%;

}

#recreatie-content-links h3 {
    font-size: 40px;
    margin: 10px 15px;
}

#recreatie-content-links p {
    margin: 8px;
}


#recreatie-content-rechts {
    border: 3px solid deeppink;
    height: 100%;
    width: 35%;

    overflow-y: scroll;
    overscroll-behavior-y: contain;

}
#recreatie-content-rechts::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#recreatie-content-rechts img {
    width: 100%;

}

#recreatie-content-rechts h3 {
    font-size: 30px;
    margin: 8px 12px;

}

#recreatie-content-rechts p {
    margin: 8px;
}


footer {
    width: 100%;

    margin-top: 100px;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 150px;

}

footer .terug-naar-boven {

    text-wrap: nowrap;

    margin-bottom: 20px;
}

footer #footer-links {
    background-color: #a6a6a6;

    height: 300px;

}