* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}
#knik-link {
    text-decoration: underline;
    color: darkorange;

}

#knik-link:hover {
    cursor: pointer;
    color: red;
}

header {
    position: relative;

    width: 100%;
    height: 100vh;

    background-image: url('./assets/klimfoto1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}


#linker-balkje {
    background-color: white;
    border-radius: 0 40px 0 0;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 43px;
}

#rechter-balkje {
    background-color: white;
    border-radius: 40px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 19%;
    height: 43px;

}


#hoofdnavigatie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hoofdnavigatie-container #linker-blok {
    width: 44%;
    height: 120px;
}

#hoofdnavigatie-container #rechter-blok {
    width: 19%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hoofdnavigatie {
    background-color: darkcyan;
    border-radius: 0 0 40px 40px;

    width: 37%;
    height: 120px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#hoofdnavigatie a {
    width: 33.3333%;

    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 180px;
}

#wie-ben-ik h2 {
    padding: 100px 0 80px 120px;
}

#wie-ben-ik article {
    margin: 0 240px 0 200px;
}

#wie-ben-ik p {
    font-size: 20px;
    line-height: 1.6;
}


#projecten h2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 100px 120px 80px 0;
}

#projecten #projecten-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    padding: 60px 100px; /* More vertical space for shadow and scale */
    height: 500px; /* Adjust height accordingly */
    overflow-x: scroll;
    overflow-y: clip;


    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */


}

#projecten-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#projecten .project {
    position: relative;

    height: 100%;
    width: 60%;
    flex-shrink: 0;

    transform-origin: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 120px;

    overflow: hidden;


}

#projecten .project .titel-div{
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 30px 70px 30px 42px;


    background-color: white;
    border-radius: 50px 0 0 0;


}

#projecten .project h3{
    font-size: 20px;
}



#projecten .eerste-project {
    margin-left: 150px;
}

#projecten .laatste-project {
    margin-right: 150px;
}


#projecten .project img {
    height: 100%;
    width: 100%;
    border-radius: 120px;

}

#projecten .project:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#projecten .project-modal {
    border: 2px solid black;

    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;


    border-radius: 40px;
    position: fixed;

    width: 60vw;
    height: 90vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-kruisje {
    position: absolute;
    top: 15px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
}
.project-modal .project-foto {
    border-radius: 40px;

    width: 100%;
    height: 65%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.project-modal .project-info {

    border-radius: 0 0 40px 40px;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    gap: 0;

}

.project-modal .project-info p {
}

.project-modal .project-info-links {


    border-radius: 0 0 0 40px;

    width: 60%;
    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;

    gap: 10px;
}

.project-modal .project-info-links .project-info-links-tweede-p {
    text-align: end;
}

.project-modal .project-info-links > div {
    width: 50%;
    position: relative;
}




.project-modal .project-info-links img {
    transition: transform 0.3s ease, z-index 0s;
    transform-origin: bottom left;

    cursor: zoom-in;
    display: block;
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px;
}

.project-modal .project-info-links img:hover {
    transform: scale(3.5);
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.project-modal .project-info-links-eerste-foto{
    margin-bottom: 10px;
}
.project-modal .project-info-links-tweede-foto{
    margin-top: 10px;
}


.lijn {

    border-left: 2px solid rgba(0, 0, 0, 0.3);
    margin: 25px 0;
}
.project-modal .project-info-rechts {
    position: relative;
    border-radius: 0 0 40px 0;

    width: 40%;
    padding: 10px 15px;

}
.project-modal .project-info-rechts p.project-beschrijving {
    padding: 5px;
}
.project-modal .project-info-rechts .project-keywords-container {


    position: absolute;
    right: 25px;
    bottom: 22px;
}
.project-modal .project-info-rechts .project-keywords-container h4 {
    padding: 5px;
}


.project-modal .project-info-rechts .project-keywords {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.project-modal .project-info-rechts .project-keywords p {
    padding: 5px;
    border-radius: 8px;
    background-color: cyan;
}


#recreatie h2 {
    padding: 100px 0 80px 120px;
}

#recreatie #recreatie-content-container {
    margin: 0 80px 0 80px;

    border-radius: 100px;
    overflow: hidden;
    height: 700px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#recreatie-content-links {
    height: 100%;
    width: 60%;

    margin-right: 5%;
}

#recreatie-content-links #recreatie-foto-links {
    width: 100%;
    height: 75%;

    background-image: url("./assets/klimfoto1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;


}

#recreatie-content-links h3 {
    font-size: 40px;
    margin: 10px 15px;
}

#recreatie-content-links p {
    margin: 8px;
}


#recreatie-content-rechts {
    height: 100%;
    width: 35%;

    overflow-y: scroll;
    overscroll-behavior-y: contain;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

}

#recreatie-content-rechts::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#recreatie-content-rechts #recreatie-gitaar-scroller {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overscroll-behavior-x: contain;

    height: 280px;
}

#recreatie-gitaar-scroller video {
    flex: 0 0 100%;
    height: 100%;
    object-fit: cover;
}


#recreatie-content-rechts img {
    width: 100%;

}

#recreatie-content-rechts h3 {
    font-size: 30px;
    margin: 8px 12px;

}

#recreatie-content-rechts p {
    margin: 8px;
}


footer {
    width: 100%;

    margin-top: 100px;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 150px;

}

footer .terug-naar-boven {

    text-wrap: nowrap;

    margin-bottom: 20px;
}

footer #footer-links {
    background-color: #a6a6a6;

    height: 300px;

}

